body {
    background-color: rgb(225, 239, 239);
    margin: 0;
    min-height: 100vh;
}

.container {
    padding-bottom: 2rem;
}

.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.btns-group .btn {
    font-weight: 500;
}

.chart {
    position: relative;
    height: 300px;
    width: 100%;
}