<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600&family=DM+Mono:wght@400;500&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        xintegrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="./static/styles.css">
    <title>Monitoramento</title>
</head>

<body>
    <div class="wrapper">
        <div class="top-container" id="top-container">
            <!-- Created dinamically -->
        </div>

        <!-- Chart card -->
        <div class="card chart-card">
            <div class="chart-tablist mb-3">
                <div class="tablist-item tablist-active" data-tab="temperature">Temperature</div>
                <div class="tablist-separator">|</div>
                <div class="tablist-item" data-tab="humidity">Humidity</div>
            </div>
            <div class="chart-wrap">
                <canvas id="line-chart-gradient"></canvas>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
        crossorigin="anonymous"></script>

    <script>
        function updateUrl(params) {
            const url = new URL(window.location.href);
            for (const key in params) {
                url.searchParams.set(key, params[key]);
            }
            window.location.href = url.toString();
        };

        function createSecondaryCard(day) {
            return `
                <div class="card day-card" onclick="updateUrl({ date: '${day.date}'})">
                    <div class="date">${day.date}</div>
                    <div class="icon"><i class="ph-duotone ph-cloud-sun icon-weather"></i></div>
                    <div class="card-index active-index temperature"><i class="ph-duotone ph-thermometer icon-temp"></i>${day.temperature}°C</div>
                    <div class="card-index humidity"><i class="ph-duotone ph-drop icon-water"></i>${day.humidity}%</div>
                </div>`;
        };

        function createMainCard(day) {
            return `
                <div class="card main-card">
                    <div>
                    <div class="main-date">${day.date}</div>
                    <div class="main-temp" id="main-primary">${day.temperature}°C</div>
                    <div class="sub" id="main-secondary">Humidity: ${day.humidity}%</div>
                    <div class="sub">Mean temperature: ${day.mean_temperature}° C</div>
                    </div>
                    <div class="main-icon"><i class="ph-duotone ph-cloud-sun icon-weather"></i></div>
                </div>`;
        };

        const data = {{ data | tojson | safe }};

        const container = document.getElementById('top-container');
        const { chart_data, is_latest, current, prev, next, prev2 } = data;

        if (is_latest) {
            // Grid: Secondary | Secondary | Primary
            container.style.gridTemplateColumns = '1fr 1fr 2fr';
            container.innerHTML = createSecondaryCard(prev2) + createSecondaryCard(prev) + createMainCard(current);
        } else {
            // Grid: Secondary | Primary | Secondary
            container.style.gridTemplateColumns = '1fr 2fr 1fr';
            container.innerHTML = createSecondaryCard(prev) + createMainCard(current) + createSecondaryCard(next);
        }

        // Chart
        const labels = chart_data.map(item => item.timestamp);
        const tempValues = chart_data.map(item => item.temperature);
        const humValues = chart_data.map(item => item.humidity);

        const ctx = document.getElementById("line-chart-gradient").getContext("2d");

        const createGradient = ((key) => {
            const gradient = ctx.createLinearGradient(0, 230, 0, 50);

            if (key === "temperature") {
                gradient.addColorStop(1, "rgba(75, 192, 192, 0.2)");
                gradient.addColorStop(0.2, "rgba(75, 192, 192, 0.0)");
                gradient.addColorStop(0, "rgba(75, 192, 192, 0)");
            };

            if (key === "humidity") {
                gradient.addColorStop(1, "rgba(54, 162, 235, 0.2)");
                gradient.addColorStop(0.2, "rgba(54, 162, 235, 0.0)");
                gradient.addColorStop(0, "rgba(54, 162, 235, 0)");
            };

            return gradient;
        })

        const tabs = {
            temperature: {
                data: tempValues,
                label: "Temperature (°C)",
                gradient: createGradient("temperature"),
                border: 'rgba(75,192,192,1)'
            },
            humidity: {
                data: humValues,
                label: "Humidity (%)",
                gradient: createGradient("humidity"),
                border: 'rgba(54,162,235,1)'
            }
        };

        let activeIndex = 'temperature';

        const createDataSet = ((key) => {
            return {
                label: tabs[key].label,
                data: tabs[key].data,
                borderColor: tabs[key].border,
                backgroundColor: tabs[key].gradient,
            }
        });

        const chart = new Chart(ctx, {
            type: "line",
            data: {
                labels: labels,
                datasets: [
                    {
                        ...createDataSet(activeIndex),
                        borderWidth: 3,
                        tension: 0.4,
                        fill: true,
                        pointRadius: 3
                    }
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: { legend: { display: false } },
                scales: {
                    y: { grid: { color: "rgba(200,200,200,0.2)" }, ticks: { color: "#9ca2b7" } },
                    x: { ticks: { color: "#9ca2b7" }, grid: { display: false } }
                }
            }
        });

        const tablist = document.querySelectorAll('.tablist-item')

        for (const tab of tablist) {
            tab.addEventListener('click', () => {
                const key = tab.dataset.tab;
                if (key === activeIndex) return;

                activeIndex = key;

                // Chart
                for (const tab of tablist) {
                    tab.classList.remove('tablist-active')
                }

                tab.classList.add('tablist-active');

                chart.data.datasets[0] = {
                    ...chart.data.datasets[0],
                    ...createDataSet(key)
                };
                chart.update();

                // Secondary Cards
                document.querySelectorAll('.day-card').forEach(card => {
                    const indexes = card.querySelectorAll('.card-index');

                    for (let i = 0; i < indexes.length; i++) {
                        const index = indexes[i];

                        index.classList.remove('active-index');

                        if (index.classList.contains(key)) {
                            index.classList.add('active-index');

                            // Won't work with > 2 elements
                            card.appendChild(indexes[Math.abs(1 - i)]);
                        }
                    }
                });

                // Main card
                const primary = document.getElementById('main-primary');
                const secondary = document.getElementById('main-secondary');

                if (key === 'temperature') {
                    primary.textContent = `${current.temperature}°C`;
                    secondary.textContent = `Humidity: ${current.humidity}%`;
                } else if (key === 'humidity') {
                    primary.textContent = `${current.humidity}%`;
                    secondary.textContent = `Temperature: ${current.temperature}°C`;
                }
            });
        }
    </script>
</body>

</html>