<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600&family=DM+Mono:wght@400;500&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        xintegrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="./static/css/styles.css">
    <title>Monitoramento</title>
</head>

<body>
    <div class="wrapper">
        <div class="top-container" id="top-container">
            <!-- Created dinamically -->
        </div>

        <!-- Chart card -->
        <div class="card chart-card">
            <div class="chart-tablist mb-3">
                <div class="tablist-item tablist-active" data-tab="temperature">Temperature</div>
                <div class="tablist-separator">|</div>
                <div class="tablist-item" data-tab="humidity">Humidity</div>
            </div>
            <div class="chart-wrap">
                <canvas id="line-chart-gradient"></canvas>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
        crossorigin="anonymous"></script>

    <!-- Parse Jinja data -->
    <script>
        const data = {{ data | tojson | safe }};
        const { chart_data, selected_date_position, current, prev, prev2, next, next2 } = data;
    </script>

    <script src="./static/scripts/index.js"></script>
</body>

</html>